In [65]:
import pandas as pd
directory = 'data\\as_csv'

In [62]:
# Create empty data frame to populate with activities
df_activities = pd.DataFrame([], columns=['time','latitude','longitude', 'elevation_gain'])

# Aggregate CSV data to 1 row including location of highest point during activity, and cumulative elevation gain.
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    df = pd.read_csv(f)
    
    # Get row where altitude is the greatest
    idx_of_max = df['altitude'].idxmax()
    max_row = df.loc[idx_of_max]
    
    # Calculate cumulative elevation gain over the course of the activity
    df = df['altitude'].diff()
    df = df.where(df > 0)
    
    # Save time, location, and cumulative gain as one row
    activity_row = [max_row.loc['time'], max_row.loc['latitude'],max_row.loc['longitude'], df.sum()]
    df_activities.loc[len(df_activities)] = activity_row

df_activities

                          time   latitude   longitude  elevation_gain
0    2023-11-03 21:30:17+00:00  47.446704 -121.384929           925.3
1    2023-11-20 18:26:22+00:00  47.733615 -121.103479           831.3
2    2023-11-23 20:54:11+00:00  47.488188 -121.947252           598.2
3    2023-11-30 22:01:10+00:00  47.498724 -121.756055           389.6
4    2023-12-06 22:55:26+00:00  47.690651 -122.371542           190.4
..                         ...        ...         ...             ...
179  2023-09-19 18:05:46+00:00  40.628985 -111.569655          1136.0
180  2023-09-23 18:51:25+00:00  47.233277 -120.962607           441.4
181  2023-09-28 21:53:32+00:00  47.490626 -121.945511           706.3
182  2023-09-30 20:50:17+00:00  48.709960 -122.392229           650.7
183  2023-10-02 21:37:36+00:00  47.511994 -121.990324           629.8

[184 rows x 4 columns]

In [64]:
df_activities.to_csv('data/activities.csv')

In [ ]:
# Create empty data frame to populate with activities
df_activities_cloud = pd.DataFrame([], columns=['x','y','z'])

# Aggregate CSV data to 1 row including location of highest point during activity, and cumulative elevation gain.
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    df = pd.read_csv(f)
    
    # Get row where altitude is the greatest
    idx_of_max = df['altitude'].idxmax()
    max_row = df.loc[idx_of_max]
    
    # Calculate cumulative elevation gain over the course of the activity
    df = df['altitude'].diff()
    df = df.where(df > 0)
    
    # Save time, location, and cumulative gain as one row
    activity_row = [max_row.loc['time'], max_row.loc['latitude'],max_row.loc['longitude'], df.sum()]
    df_activities.loc[len(df_activities)] = activity_row

df_activities